.label-mrgn {
  margin-top: 10px;
}

body {
  width: 750px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.mrgn-btm-20px {
  margin-bottom: 20px;
}

.mrgn-left-30px {
  margin-left: 30px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.chefmenu{
  width: 100% !important;
  padding: 10px 20px;  
}

/* .button-wrapper{
  margin-top: 20px;
  text-align: right;
}

.button-wrapper > button {
    color: #FFF;
    background-color: #2196F3;
    border: none;
    padding: 10px;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
